/* Car.css */
.car-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.car-card .car-image-wrapper .car-model {
  white-space: nowrap !important;
}
.car-card:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.car-card .car-image-wrapper {
  width: 100%;
  overflow: hidden !important;
}

.car-card .car-image-wrapper img {
  height: 100%;
}
.car-card .car-model {
  font-size: clamp(0.75rem, 0rem + 100vw, 0.875rem) !important;
}
